$cb: black;
$cw: white;
$cg1:#093009;
$cg2:#0d3e10;
$cg3:#1f6032;
$cg4:#29773e;
$cg5:#369457;
$cg6:#032202;
$co1:#af6010;
$co2:#a67442;
$co3:#a67442;
$cg: lightgray;
$m1: -10px;
$ha: #ccc;
$n: none;
$s: solid;
$c: center;
$hu: 20px;
$v: 55px;
$e: 1px;

header {
    padding: 60px;
    text-align: $c;
    background-image: url("../img/c2fbbda2392e36fb557c3003d1605858.jpg");
    background-position: $c;
    background-repeat: no-repeat;
    background-size: cover;
    color: $cw;
    font-size: 30px;
    border-bottom: $e $s $cb;
    text-shadow: 2px 2px $cb;
    margin: $m1;
  }

#logo {
    height: 200px;
    width: 300px;
}

footer {
  text-align: $c;
  padding: $hu;
  margin-top: 35px;
  background-color: $co2;
  margin-left: $m1;
  margin-right: $m1;
  position:fixed;
  width: 100%;
  color: $cb;
  height: 50px;
}

body {
  background-color: $co2;
}

div {
  padding-top: $hu;
  padding-bottom: $hu;
  padding-right: $v;
  padding-left: $v;
  /*border-bottom: 1px solid $cb;*/
}

 .collapsible {
  background-color: $cw;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: $n;
  text-align: left;
  outline: $n;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color:$ha;
}


.content {
  padding: 0 18px;
  display: $n;
  overflow: hidden;
  background-color:$cw;
  border-bottom: $e $s;
  border-color:$ha;
} 


table {
  margin-left:auto;
  margin-right:auto;
  background-color: $cg5;
  border:$s;
  text-align: $c;
}

td,th,tr,tbody,thead{
  border: $s;
}

th {
  text-align: $c;
}


#footer {
  text-align: right;
  margin-top: $hu;
}